#logo {
    margin-right: 250px;
    zoom: 1.7;
    margin-left: 30px;  
    width: 100px;
    height: 40px;
    border-radius: 35px;
    float: left;
}
#cssmenu > ul {  
  background: url(highlight-bg.png) repeat;
  padding-bottom: 3px;
  
font-family: 'Open Sans', sans-serif;
font-weight: 600;  
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > 
ul:before,
#cssmenu > ul:after {
  content: "";
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  
clear: both;
}
#cssmenu {
    width: auto;
    zoom: 1;
   
}
    #cssmenu > ul {
        background-color: aliceblue;
        margin: 0;
        padding: 0;
        position: relative;
      
    }
    #cssmenu > ul li {
        margin: 0;
        padding: 0;
       
        list-style: none;
    }
#cssmenu > ul > li {
  float: left;
  position: relative;
 
}
.last{
	float: right;
}
#cssmenu > ul > li > a {
  padding: 23px 26px;
  display: block;
  color: darkblue;
  font-size: 
13px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
  line-height: 18px;
}
#cssmenu > ul > li:hover > a {
  
background: url(hover.png) repeat;
}
#cssmenu > ul > li > a > span {
  line-height: 18px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li > a:active {
  background: url(highlight-bg.png) repeat;
}
/* Childs */
#cssmenu > ul ul{
  opacity: 0;
  visibility: visible;
  position: absolute;
  top: 120px;
  background: url(hover.png) repeat;
  margin: 0;
  padding: 0;
  z-index: -1; 
}
#cssmenu > ul 
li:hover ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  color: #000;
  z-index: 2;
  top: 64px;
  
left: 0;
}
#cssmenu > ul ul:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  
height: 20px;
  background: transparent;
}
#cssmenu > ul ul li {
  list-style: none;
  padding: 0;
  
margin: 0;
  width: 100%;
}
#cssmenu > ul ul li a {
  padding: 18px 26px;
  display: block;
  color:lightblue;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  width: 150px;
  
border-left: 5px solid transparent;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: 
all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  
text-shadow: 0 -1px 0 #c28130;
  text-shadow: 0 -1px 0 rgba(151, 99, 33, 0.43);
}
#cssmenu > ul ul li 
a:hover {
    border-left: 4px solid #055988;
  background: url(highlight-bg.png) repeat;
}
#cssmenu > ul ul li a:active {
  background: url(menu-bg.png) repeat;
  
}





nav {
    margin-left: 250px;
    margin-bottom: 35%;
    margin-top: 20px;
    color: #00331a;
font-family:Verdana;
}
    nav img {
        margin: 0 0 0 5px;
        padding: 0 0 0 0;
        width: 300px;
        height: 280px;
        border-radius: 20px;
        border: 5px solid white;
       
    }
#foto1 {
    float: left;
    width: 300px;
    height: 280px;
    padding: 5px 9px 5px 0;
    margin-left: -120px;
    margin-right: 50px;
    align-content: center;
    position: relative;
}
button {
    background-color:#4CAF50;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 16px;
    transition: opacity 200ms ease-in-out .5s;
    cursor: pointer;
    padding: 16px 32px;
}

    button:hover {
        opacity: 1;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
    }
   
  


#foto2 {
    float: left;
    width: 300px;
    height: 280px;
    padding: 5px 9px 5px 0;
    margin-right: 50px;
    position: relative;
}

#foto3 {
    float: left;
    width: 300px;
    height: 280px;
    padding: 5px 9px 5px 10px;
    padding: 5px;
    position:relative;
}

.sign {
    width: 100%;
    height: 100px;
    background: url(highlight-bg.png);
    box-sizing: border-box;
    display: inline-block;
    font-family:Verdana;
}

#subscribe {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 350px;
    text-align: center;
    
}

    #subscribe h1, h4 {
        display: block;
        text-align: left;
        color: #006565;
    }

    #subscribe h1 {
        margin-top: 25px;
        
    }

    #subscribe h4 {
        margin-top: -20px;
    }

#signup {
    margin-top: 40px;
    text-align: center;
    margin-right: 120px;
}

    #signup input[type=submit] {
        padding: 5px;
        font-size: 15px;
        border-radius: 5px;
    }

    #signup input[type=email] {
        padding: 5px;
        font-size: 15px;
        padding-right: 40px;
        border-radius: 5px;
    }   
article>header h2
{
color:white;
font-weight:normal;
text-align:center;
margin:0.4em;
}




section{
float:left;
text-align:center;
font-family:Verdana;
width:210px;
border-right:1px solid #006565;
position:relative;
left:22px;

}


#pjesa-trete {
    width: 98%;
    background-color: none;
    height: 500px;
    margin: 10px;
  color: #006565;
    
}

.vendi
{
color: #006565;
font-size: 20px;
display:block;
line-height: 1.42857143;
text-align:left;
font-weight:bold;

}
.cmimi
{
color: red;
font-size: 14px;
display:block;
line-height: 1.42857143;
text-align:left;
text-decoration:underline;
}
.nisja

{
color:#006565 ;
font-size: 15px;
display:block;
line-height: 1.42857143;
text-align:left;
}

.destinacionet
{
	
	width:200px;
	height:200px;
	border-radius:50%;
	margin:20px;
		
}
	
	
	
#p3
{
	width:330px;
	height: 260px;
	text-align:left;
	border:none !important;
	position:relative;
	left:60px;
	margin:10px;
	background-color:#e5e0e0;
	 background: linear-gradient(#e5e0e0, #abd3c5);
}
#p3 h2{
    margin-top:80px;
    text-align: center;
}
#p3 p{
    text-align:center;
}
.vendi a
{
	color:red;
}


.Informatat2{
	position:relative;
	bottom:150px;
	left:220px;
	
	
	
}


footer {
    margin: 20px 0 0 0;
    background-color: rgb(32,32,32);
    
}

.footer_container {
    width: 100%;
    padding-bottom: 8cm;
    padding-top: 5px;
    overflow: hidden;
    padding-left: 50px;
    height: 5px;
    clear: right;
}

.container {
    float: left;
    font-size: 20px;
    margin-left: 20px;
}

.footer_container div.container {
    width: 250px;
    float: left;
    padding: 20px;
}

.footer_container ul {
    list-style: none;
    padding: 0;
    display: inline;
    margin-left: 0 !important;
}

    .footer_container ul li {
        width: 170px;
        padding: 2px;
        color: darkgrey;
    }

        .footer_container ul li a {
            color: darkgrey;
        }

            .footer_container ul li a:link {
                color: darkgrey;
                text-decoration: none;
            }

        .footer_container ul li:hover {
            border-bottom: 1px solid;
            border-color: #808080;
        }


.footer_container div.container h3 {
    border-bottom: 1px solid gray;
    color: darkgrey;
    font-size: 20px;
}

.footer_container div.container p {
    color: white;
    font-size: 15px;
    padding-top: 5px;
}

.footer_container div.container input[type=text] {
    color:white;
    background:rgba(0,0,0,0.5);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.footer_container div.container textarea {
    color:white;
    background:rgba(0,0,0,0.5);
    width:104px;
    height:auto;
    resize:none;
    padding: 8.5px;
    border-radius: 5px;
}

.footer_container div.container input[type=submit] {
    font-weight:bold;
    padding: 10px 15px 10px 15px;
    float: right;
    margin-top:5px;
    margin-right: 180px;
    border-radius: 5px;
}

#bottom {
    margin: -15px 0 -15px 0;
    padding: 0;
    background-color: grey;
    position: static;
    font-size: 14px;
}
